@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,400;0,500;1,900&display=swap");

.services-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  width: 100vw;
  margin: 100px;
  font-family: "Teko";
}

.services-sec h1 {
  margin: 50px;
  font-size: 54px;
  color: orange;
}

.services-sec h1 strong {
  color: orangered;
}

.services-sec .services-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: fit-content;
  margin: 50px;
  padding: 10px;
}

#sec-background {
  position: absolute;
  width: 100vw;
  height: 400px;
  opacity: 0.8;
  z-index: -1;
}

#sec-banner {
  height: 300px;
  width: 300px;
  margin: 15px;
  border-radius: 10px;
}

.services-sec .services-box p {
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.services-sec .UI-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 20px;
  margin: 50px;
}

.services-sec .UI-box p {
  text-align: left;
  color: #fff;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.UI-box .text-box {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  line-height: 20px;
}

.UI-box .text-box h1 {
  margin: 10px;
  height: 50px;
}

#UI-banner {
  height: 300px;
  width: 300px;
  margin: 15px;
  border-radius: 10px;
}

#UI-background {
  position: absolute;
  width: 100vw;
  height: 350px;
  opacity: 0.9;
  z-index: -1;
}

.Devlopment-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#DEV-background {
  position: absolute;
  width: 100vw;
  height: 350px;
  opacity: 0.9;
  z-index: -1;
}

.Devlopment-box .text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

#DEV-banner {
  height: 300px;
  width: 300px;
  margin: 15px;
  border-radius: 10px;
}

.Devlopment-box .text-box h1 {
  color: red;
  margin: 20px;
}

.Devlopment-box .text-box p {
  color: #fff;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.services-sec .testing-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 10px;
  margin: 50px;
}

.services-sec .testing-sec h1 {
  margin: 20px;
}

.services-sec .testing-sec p {
  color: #fff;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

#testing-banner {
  height: 300px;
  width: 300px;
  margin: 15px;
  border-radius: 10px;
}

#testing-background {
  position: absolute;
  width: 100vw;
  height: 350px;
  opacity: 0.9;
  z-index: -1;
}

@media (max-width: 1066px) {
  .services-sec .services-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: fit-content;
    margin: 50px;
    padding: 5px;
  }

  #sec-background {
    position: absolute;
    width: 100vw;
    height: 500px;
    opacity: 0.8;
    z-index: -1;
  }
}

@media (max-width: 900px) {
  .services-sec .services-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 95vw;
    height: fit-content;
    margin: 50px;
    padding: 5px;
  }

  #sec-background {
    position: absolute;
    width: 100vw;
    height: 700px;
    opacity: 0.8;
    z-index: -1;
  }

  .services-sec .testing-sec h1 {
    margin: 10px;
  }

  .services-sec .testing-sec p {
    line-height: 20px;
    color: #fff;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
}

@media (max-width: 770px) {
  .Devlopment-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
    margin: 50px;
  }

  #DEV-background {
    position: absolute;
    width: 100vw;
    height: 700px;
    opacity: 0.9;
    z-index: -1;
  }

  .Devlopment-box .text-box h1 {
    color: red;
    margin: 10px;
  }

  .services-sec .testing-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 10px;
    margin: 50px;
  }

  #testing-background {
    position: absolute;
    width: 100vw;
    height: 650px;
    opacity: 0.9;
    z-index: -1;
  }

  .services-sec .testing-sec h1 {
    text-align: center;
  }
}

@media (max-width: 700px) {
  #sec-background {
    position: absolute;
    width: 100vw;
    height: 800px;
    opacity: 0.8;
    z-index: -1;
  }

  .services-sec .UI-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 20px;
    margin: 100px;
  }

  .services-sec p {
    text-align: left;
    color: #000;
    font-family: "Poppins", sans-serif;
  }

  .UI-box .text-box {
    display: flex;
    justify-content: right;
    align-items: unset;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
  }

  .UI-box .text-box h1 {
    width: 45vw;
    margin: 10px;
  }

  #UI-banner {
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 10px;
  }

  #UI-background {
    position: absolute;
    width: 100vw;
    height: 450px;
    opacity: 1;
    z-index: -1;
  }
}

@media (max-width: 600px) {
  .services-sec .UI-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 20px;
    margin: 150px;
  }

  .UI-box .text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
  }

  .UI-box .text-box p {
    width: 100vw;
    padding: 10px;
  }

  .UI-box .text-box h1 {
    width: 45vw;
    margin: 50px;
  }

  #UI-banner {
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 10px;
  }

  #UI-background {
    position: absolute;
    width: 100vw;
    height: 630px;
    opacity: 1;
    z-index: -1;
  }

  

.Devlopment-box .text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 10px;
}

.Devlopment-box .text-box p{
  line-height: 20px;
}
}

@media (max-width: 500px) {
  #sec-background {
    position: absolute;
    width: 100vw;
    height: 900px;
    opacity: 0.8;
    z-index: -1;
  }

  .UI-box .text-box h1 {
    width: 45vw;
    margin: 30px;
  }

  #UI-background {
    position: absolute;
    width: 100vw;
    height: 700px;
    opacity: 1;
    z-index: -1;
  }

  .testing-sec h1 {
    font-size: 40px;
  }

  #testing-background {
    position: absolute;
    width: 100vw;
    height: 730px;
    opacity: 0.9;
    z-index: -1;
  }
}

@media (max-width: 400px) {
  .services-sec .services-box p {
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 20px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }

  #sec-background {
    position: absolute;
    width: 100vw;
    height: 1000px;
    opacity: 0.8;
    z-index: -1;
  }

  .Devlopment-box .text-box h1 {
    font-size: 34px;
    color: red;
    margin: 20px;
  }
}
